extends layout

block content
    h1(class="font-semibold text-2xl md:text-6xl md:mb-2") #[span(class="md:text-4xl md:text-center md:block md:mb-2") Welcome to] #[span(class="text-primary") Members]Only
    p(class="text-center md:text-start md:text-xl md:pt-2") The exclusive clubhouse where #[span(class="text-primary font-semibold") members] #[span(class="block md:hidden")] can write anonymous posts

    ul(class="arrow-list list-inside flex flex-col gap-2 mt-8")
      li From the outside, #[span(class="text-primary font-semibold") anyone] can see messages and wonder who wrote them.
      li From the inside, #[span(class="text-primary font-semibold") anyone] can write new messages.
      li Only #[span(class="text-primary font-semibold") members] of the clubhouse can see who the author of a messages is and when it was written.
      li Only trusted #[span(class="text-primary font-semibold") admins] can moderate the page by deleting elements.

    a(href="/messages" class="btn-primary mt-8 md:w-full md:px-7 md:py-3") Message