doctype html
html(lang='en')
  head
    title #{title} | MembersOnly
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="bg-gray-50 min-h-screen text-gray-700 text-sm md:text-base relative md:max-w-4xl md:mx-auto")    
    header(class="flex z-10 bg-white sticky top-0 items-center justify-between p-2 md:py-3 border-b border-solid border-b-gray-300 mb-2 shadow-[0_30px_20px_#f9fafb]")
      a(href="/" class="text-xl md:text-2xl font-semibold transition-transform active:scale-95") #[span(class="text-primary") Members]Only
      include nav
    main(class="flex flex-col items-center justify-center gap-1 px-2 md:max-w-2xl md:mx-auto min-h-[83vh] relative")
      block content
    footer(class="absolute bottom-0 w-full text-center py-3 text-sm md:text-base md:py-4 border-t border-solid border-t-gray-300") &copy; Copyright 2024 - #[a(href="https://www.github.com/0xabdulkhalid" class="text-primary font-medium") 0xabdulkhalid]