nav(class="flex justify-center items-center") 
    div(class="md:hidden")
        button(id="menu-toggler" onclick="toggle()" aria-label="Toggle Menu")

        ul(id="navMenu" class="flex transition-opacity invisible opacity-0 duration-500 gap-3 p-4 bg-gray-200 absolute top-12 left-0 w-full items-center")
            if user 
                if !user.isMember 
                    li(class="w-full"): a(href="/user/join-club" class="btn-primary") Join The Club
                if user.isMember && !user.isAdmin
                    li(class="w-full"): a(href="/user/become-admin" class="btn-primary") Become an Admin
                li(class="w-full"): a(href="/user/log-out" class="btn-primary") Logout
            else 
                li(class="w-full"): a(href="/user/sign-up" class="btn-primary") Sign Up
                li(class="w-full"): a(href="/user/login" class="btn-primary") Login
    
    ul(class="items-center gap-2 hidden md:flex")
            if user 
                if !user.isMember 
                    li: a(href="/user/join-club" class="btn-primary") Join The Club
                if user.isMember && !user.isAdmin
                    li: a(href="/user/become-admin" class="btn-primary") Become an Admin
                li: a(href="/user/log-out" class="btn-primary") Logout
            else 
                li: a(href="/user/sign-up" class="btn-primary") Sign Up
                li: a(href="/user/login" class="btn-primary") Login


script.
    const btn = document.getElementById('menu-toggler');
    const navMenu = document.getElementById('navMenu');

    function toggle () {
        navMenu.classList.toggle('opacity-0');
        navMenu.classList.toggle('invisible');
        btn.classList.toggle('menu-active')
    }
