@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-list li::marker {
  content: "» ";
  color: #4f46e5;
  font-size: 1.1rem;
}

:is(button, a):focus-visible {
  outline: #4f46e5 dotted 3px;
  outline-offset: 0.25rem;
}

#menu-toggler {
  background-image: url("../images/hamburger.svg");
  width: 30px;
  height: 30px;
}

.user {
  background: center/120% no-repeat url(../images/user.svg);
}

main:has(.msg-wrapper) {
  padding: 0;
  max-height: 85vh;
  max-width: 50rem;
}

.msg-wrapper {
  scrollbar-color: #4f46e5 #999;
}

label {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  margin: 0.8rem 0 0.3rem 0;
}

.menu-active {
  background: center/70% no-repeat url(../images/close.svg) !important;
}

@layer components {
  .btn-primary {
    @apply bg-primary cursor-pointer text-white text-center text-sm block px-4 py-2 uppercase tracking-wider font-medium shadow-md rounded-md transition-[transform,background] duration-500 hover:bg-indigo-700 active:scale-90;
  }

  input {
    @apply p-2 bg-indigo-50 w-full outline outline-primary outline-1 text-indigo-800 rounded focus-visible:outline focus-visible:outline-primary focus-visible:outline-2;
  }
}
